<h1>แสงเทียน</h1>
<p>
    จุดเทียนบวงสรวงปวงเทพเจ้า
    สวดมนต์ค่ำเช้าถึงคราวระทมทน
    โอ้ชีวิตหนอล้วนรอความตายทุกคน
    หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ
    ต่างคนเกิดแล้วตายไป
    ชดใช้เวรกรรมจากจร
    นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม
    ทุกคนเคยทำกรรมไว้ก่อน
    เชิญปวงเทวดาข้าไหว้วอน
    ขอพรคุ้มไปชีวิตหน้า
    ทนทรมานมามากแล้วจะกราบลา
    หนีปวงโรคาที่เบียดเบียน
    แสงแววชีวาเปรียบแสงเทียน
    เปรียบเทียนสิ้นแสงยามแรงลมเป่า
    ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน
    จุดเทียนถวายหมายบนบูชาร้องเรียน
    โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย
    โรครุมเร่าร้อนแรงโรย
    หวนโหยอาวรณ์อ่อนใจ
    ทำบุญทำทานกันไว้เถิดเกิดเป็นคน
    ไว้เตรียมผจญชีวิตใหม่
    เคยทำบุญทำคุณปางก่อนใด
    ขอบุญคุ้มไปชีวิตหน้า
    ทนทรมานมามากแล้วจะกราบลา
    แสงเทียนบูชาจะดับพลัน
    แสงเทียนบูชาดับลับไป
</p>