<h1>ยามเย็น</h1>
<p>
    แดดรอนรอน
    เมื่อทินกรจะลับเหลี่ยมเมฆา
    ทอแสงเรืองอร่ามช่างงามตา
    ในนภาสลับจับอัมพร
    แดดรอนรอน
    เมื่อทินกรจะลาโลกไปไกล
    ยามนี้จำต้องพรากจากดวงใจ
    ไกลแสนไกลสุดห่วงยอดดวงตา
    แต่ก่อนเคยคลอเคลียกัน
    ทุกวันคืนรื่นอุรา
    ต้องอยู่เดียวเปลี่ยนวิญญาณ์
    เหมือนดังนภาไร้ทินกร
    แดดรอนรอน
    หากทินกรจะลาโลกไปไกล
    ความรักเราคงอยู่คู่กันไป
    ในหัวใจคงอยู่คู่เชยชม
    แดดรอนรอน
    หมู่มวลภมรบินลอยล่องตามลม
    คลอเคล้าพฤกษาชาติชื่นเชยชม
    ชมสมตามอารมณ์ล่องเลยไป
    ลิ่วลมโชย
    กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย
    ยามสายัณห์พลันพรากจากดวงใจ
    คอยแสงทองวันใหม่กลับคืนมา
    แต่ก่อนเคยคลอเคลียกัน
    ทุกวันคืนชื่นอุรา
    ต้องอยู่เดียวเปลี่ยววิญญาณ์
    เหมือนดังนภาไร้ทินกร
    โอ้ยามเย็น
    จวบยามนี้เป็นเวลาสุดอาวรณ์
    ยามไร้ความสว่างห่างทินกร
    ยามรักจำจะจรจากกันไป
</p>